/*-----------------------------*/
/* Deeol.com CSS 2018 10/31/18 */
/* TABLE OF CONTENTS */

/*-----------------------------*/

/* ELEMENTS */

h1 {
  font-family: "Courier New", Courier;
};

h2 {
  font-family: "Courier New", Courier;
};

h3 {
  font-family: "Courier New", Courier;
};

h4 {
  font-family: "Courier New", Courier;
}

p {
  font-family: "Courier New", Courier;
}

a {
  font-family: "Courier New", Courier;
  color: black;
  text-decoration: underline;
}

/* ID'S */

/* CLASSES */
